/*:root {}*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

/* header style */
.header {
    background-color:#000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-size: cover;
  }

.header h1 {
    display: inline-block;
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #74afac;
}

.header a {
    text-decoration: underline;
    color: #5c6e58;
}

.header nav {
    margin: 7px 0;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  .header nav ul li a {
    display: inline-block;
    padding: 10px;
    font-style: oblique;
    font-weight: bold;
    font-size: 15px;
  }

  /* hero style */
  .hero {
    height: 250px;
    width: 100%;
    background-image: url("../images/sky3.jpg");
    background-size:cover;
    background-position: center bottom;
    margin-bottom: 20px;
  }

  .hero h2 {
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    padding-top: 80px;
    text-align:center;
  }

  /* section style */
  .section-title {
    border-right: 5px solid #000;
  }

  /* about me style */
 .about-me {
   margin:30px;
   padding: 20px 40px;
   margin-bottom: 20px;
   background-color: #74afac;
 }

 .about-me h2 {
   height:fit-content;
   float:left;
   font-size: 35px;
   border: #000;
 }
   